/* HEADER */

#header {
  background-color: var(--nord0);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}

.header-logo {
  color: var(--nord4);
  font-size: 24px;
  font-weight: 600;
}

.header-link {
  display: flex;
  gap: 16px;
}

.header-secondary {
  color: var(--nord5);
  font-size: 18px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-right: 30px;
  flex: 1;
  /* border: 2px solid green; */
}
.container-right {
  display: flex;
  justify-content: center;
  width: 50%;
}

.container-right img {
  height: 170px;
  border-radius: 8px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 8px;
  background-color: var(--nord10) ;
  color: var(--nord4);
  font-weight: 600;
  text-decoration: none;
  padding-top: 2px;
}


.header-main {
  color: var(--nord4);
  font-size: 48px;
  font-weight: 800;
}

@media only screen and (max-width: 800px) {
  .container-right {
    display: none;
  }

  .header-link {
    display: none;
  }

  .boxes {
    flex-direction: column;
  }
  
  .content {
    width: auto;
  }
}

